# Root-level ignores
.env
*.log
*.bat
docs/

# Node / Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/logs/
/frontend/npm-debug.log*

# Python / Backend
/backend/config/__pycache__/
/backend/*.pyc
/backend/db.sqlite3
/backend/.env
/backend/env/
/backend/venv/
/backend/.migrations/

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db
